* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  width: 100%;
  height: 100vh;
}
.formData {
  width: 400px;
  height: auto;
  background: #fff;
  padding: 20px 30px;
  border-radius: 16px;
}